/* ############################################# CSS RESET #### */
*{margin:0;padding:0;outline:0}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}html,body{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}input{border:1px solid #b0b0b0;padding:3px 5px 4px;color:#979797;width:190px}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0}

/*################################################## FONTS #####*/
@font-face {
	font-family: 'thesans-semilight';
	src: 		url('../fonts/thesansselig-webfont.eot');
	src: 		url('../fonts/thesansselig-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/thesansselig-webfont.woff2') format('woff2'),
				url('../fonts/thesansselig-webfont.woff') format('woff'),
				url('../fonts/thesansselig-webfont.ttf') format('truetype'),
				url('../fonts/thesansselig-webfont.svg#thesansbw4_semilight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'thesans-light';
	src: 	url('../fonts/thesansexlig-webfont.eot');
	src: 	url('../fonts/thesansexlig-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/thesansexlig-webfont.woff2') format('woff2'),
			url('../fonts/thesansexlig-webfont.woff') format('woff'),
			url('../fonts/thesansexlig-webfont.ttf') format('truetype'),
			url('../fonts/thesansexlig-webfont.svg#thesansbw2_extralight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ############################################# OLIGO #### */
html { 
	position: relative;
  	overflow-y: auto;
  	overflow-x: hidden !important;
}

html, body {
    margin:           0;
    padding:          0;
    width:            100%;
    height:           100%;
    background-color: #e2e2e2;
    color:            #575756;
    font-family:      "thesans-light", arial, helvetica, sans-serif;
    font-size:        18px;
    line-height:      22px;
  	overflow-x: hidden !important;
}
body {
	max-width: 2200px;
	margin: 0 auto;
}
.logo a {
	background:  url(../img/logo.png) no-repeat center center;
	background-size: contain;
	width:       145px;
	height:      24px;
	text-indent: -99999px;
	z-index:     99999;
	position:    absolute;
	right:       35px;
	top:         12px;
}

.container {
	width: 100%;
	padding: 0;
}

.wrapper {
	width: 90%;
	margin: 15px auto 50px;
}
/* ############################################### ELEMENTS #### */
h1, h2, h3, h4 {
	text-transform: uppercase;
	color: #918c73;
}

h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }

a, input, .form-control { z-index: 9999 !important; }
a:hover, a:focus { text-decoration: none; }

form { margin:  35px 0; }
sup { text-transform: lowercase; }

input {
	background: none;
	border: none;
	color: #575756;
}

input[type="checkbox"] { display:none !important; }
	input[type="checkbox"] + span { font-size: 14px; }

input[type="checkbox"] + span:before {
  position:                relative;
  top:                     1px;
  margin-right:            7px;
  display:                 inline-block;
  font-family:             'FontAwesome' !important;
  font-size:               18px;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#filter label { margin-right: 15px; }

input[type="checkbox"] + span:before { content: "\f096" !important; }

input[type="checkbox"]:checked + span:before {
  content:  "\f046" !important; /* check */
  margin-right: 5px;
}
/*################################################### FORMS ####*/
.form-control { margin-bottom: 10px; }

/*################################################### BUTTONS ####*/
.btn {
	border-radius: 0;
	width: 100%;
}

.btn-default, .btn-primary { background: none; }
	.btn-default:hover {
		background: #a29d86;
		color:      #ededed;
	}
	.btn-primary:hover {
		background: #fff;
		color:      #a29d86;
	}
.btn-gold {
	background: #a29d86;
	color:      #ededed;
}
	.btn-gold:hover {
		background: #96927B;
		color:      #ededed;
	}

/*############################################## SECTION-GENERAL ####*/
.section-text {
	height:     auto;
	min-height: 335px;
	padding:    105px 0;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 16%, #e2e2e2 78%, #e2e2e2 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%,#ffffff), color-stop(78%,#e2e2e2), color-stop(99%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 16%,#e2e2e2 78%,#e2e2e2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 16%,#e2e2e2 78%,#e2e2e2 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 16%,#e2e2e2 78%,#e2e2e2 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 16%,#e2e2e2 78%,#e2e2e2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
	.section-text p { margin-bottom: 25px; }

.section-teaser { 
	background: #e2e2e2;
	padding: 0 5px;
}

.section-info {
	padding: 0;
}

/*################################################### TEASER ####*/
.teaser {
	height:        auto;
	width:         100%;
	margin-bottom: 3px;
	position:      relative;
	z-index:       99999;
}
	.teaser img {
		width:  100%;
		height: 100%;
	}
	.teaser h3 {
		position: absolute;
		color:    #ededed;
		top:      25px;
		left:     60px;
		z-index:  1;
	}

.teaser-lg {
	width:               100%;
	height:              0;
	padding-bottom:      27.272727%;
	background:          url(../img/teaser-shop.jpg) no-repeat;
	background-size:     cover;
	background-position: center; /* IE fix */
	margin:              0;
	position:            relative;
}

#lumination-overview .teaser-lg { background: url(../img/teaser-lg-systemleuchten.jpg) no-repeat; background-size:     cover;}

svg {
	width:     50%;
	max-width: 300px;
	height:    auto;
	position:  absolute;
	top:       40%;
	left:      20%;
}
/*######################  TEASER - HOVER ####*/
.view {
   float:      left;
   overflow:   hidden;
   position:   relative;
   text-align: center;
   cursor:     default;
}
.view .mask,.view .content {
   width:    100%;
   height:   100%;
   position: absolute;
   overflow: hidden;
   top:      0;
   left:     0;
}
	.view img {
		display:            block;
		position:           relative;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition:    all 0.6s ease-in-out;
		-o-transition:      all 0.6s ease-in-out;
		-ms-transition:     all 0.6s ease-in-out;
		transition:         all 0.6s ease-in-out;
		transition-delay:   .5s;
	}
		.view:hover img {
		   -webkit-transform: scale(1.1,1.1);
		   -moz-transform:    scale(1.1,1.1);
		   -o-transform:      scale(1.1,1.1);
		   -ms-transform:     scale(1.1,1.1);
		   transform:         scale(1.1,1.1);
		}
	.view p {
	   position:           relative;
	   color:              #fff;
	   max-width: 800px;
	   padding:            15% 60px 20px;
	   text-align:         left;
	   -webkit-transform:  translateY(100px);
	   -moz-transform:     translateY(100px);
	   -o-transform:       translateY(100px);
	   -ms-transform:      translateY(100px);
	   transform:          translateY(100px);
	   -ms-filter:         "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter:             alpha(opacity=0);
	   opacity:            0;
	   -webkit-transition: all 0.2s ease-in-out;
	   -moz-transition:    all 0.2s ease-in-out;
	   -o-transition:      all 0.2s ease-in-out;
	   -ms-transition:     all 0.2s ease-in-out;
	   transition:         all 0.2s ease-in-out;
	   transition-delay:   .5s;
	}
	.view a.info {
	   display:            inline-block;
	   text-decoration:    none;
	   padding:            7px 14px;
	   text-transform:     uppercase;
	   text-align:         center;
	   width:              50%;
	   max-width:          250px;
	   -ms-filter:         "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter:             alpha(opacity=0);
	   opacity:            0;
	   -webkit-transition: all 0.2s ease-in-out;
	   -moz-transition:    all 0.2s ease-in-out;
	   -o-transition:      all 0.2s ease-in-out;
	   -ms-transition:     all 0.2s ease-in-out;
	   transition:         all 0.2s ease-in-out;
	   transition-delay:   .4s;
	   position:           absolute;
	   bottom:             18%;
	   right:              8%;
	   margin-bottom:      -25px;
	}

		.view:hover p,
		.view:hover a.info {
		   -ms-filter:        "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		   filter:            alpha(opacity=100);
		   opacity:           1;
		   -webkit-transform: translateY(0px);
		   -moz-transform:    translateY(0px);
		   -o-transform:      translateY(0px);
		   -ms-transform:     translateY(0px);
		   transform:         translateY(0px);
		}
		.view:hover p {
		   -webkit-transition-delay: 0.8s;
		   -moz-transition-delay:    0.8s;
		   -o-transition-delay:      0.8s;
		   -ms-transition-delay:     0.8s;
		   transition-delay:         0.8s;
		}
		.view:hover a.info {
		   -webkit-transition-delay: 1.35s;
		   -moz-transition-delay:    1.35s;
		   -o-transition-delay:      1.35s;
		   -ms-transition-delay:     1.35s;
		   transition-delay:         1.35s;
		}
	.view .mask {
	   -ms-filter:         "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter:             alpha(opacity=0);
	   opacity:            0;
	   background:         -webkit-linear-gradient(rgba(87, 87, 86, 0.45), rgba(0, 0, 0, 0.7));
	   background:         -o-linear-gradient(rgba(87, 87, 86, 0.45), rgba(0, 0, 0, 0.7));
	   background:         linear-gradient(rgba(87, 87, 86, 0.45), rgba(0, 0, 0, 0.7));
	   -webkit-transition: all 1s ease-in-out;
	   -moz-transition:    all 1s ease-in-out;
	   -o-transition:      all 1s ease-in-out;
	   -ms-transition:     all 1s ease-in-out;
	   transition:         all 1s ease-in-out;
	   transition-delay:   .5s;
	}
		.view:hover .mask {
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		   filter:     alpha(opacity=100);
		   opacity:    1;
		}

/*###############################################  PARALLAX ####*/
.hero {
	position:   fixed;
	z-index:    0;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
	height:     100vh;
	width:      100vw;
	overflow:   hidden;
	background: #000;
    
    &:before {
		content:  '';
		height:   100%;
		width:    100%;
		height:   100vh;
		width:    100vw;
		position: absolute;
    }
  }

  .content {
	position:   absolute;
	z-index:    1000;
	top:        100vh;
	background: #ededed;
	height:     100vh;
	width:      100vw;
	z-index:    99;
  -webkit-overflow-scrolling: touch;
  }

  .hero-sm {
	position:   relative;
	z-index:    0;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
	height:     50%;
	width:      100vw;
	overflow:   hidden;
	background: #000;
  }

  .hero-sm-content {
	position:   relative;
	z-index:    1000;
	height:     60vh;
	width:      100vw;
	z-index:    9;
  	-webkit-overflow-x-scrolling: touch;
  }

/*###############################################  HERO SLIDER ####*/
body::-webkit-scrollbar { display: none; }

#slide-container { 
	position:         absolute;
	top:              0px;
	left:             0px;
	width:            100%; 
	height:           100%;
	background-color: #000;
}
	#slides {
		position: absolute;
		width:    100%;
		height:   100%;
		overflow: hidden;
		padding:  0px;
		margin:   0px;
	}
		.slide {
			list-style:          none;
			position:            absolute;
			width:               100%;
			height:              100%;
			opacity:             1.0;
			background-size:     cover;
			background-position: 25% center;
			transition:          all 1s linear; -webkit-transition: all 1s linear;
		}

.buried {
	opacity:    0.0;
	visibility: hidden;
}

.slider-nav { 
	padding:    8px;
	position:   fixed; 
	z-index:    99; 
	bottom:     5%; 
	cursor:     pointer; 
	color:      #ededed; 
	opacity:    0.4; 
	transition: all 0.66s ease; -webkit-transition: all 0.66s ease;
	font-size:  30px;
}
	.slider-nav:hover { opacity:1.0; }
	#arrow-left { right: 20px; }
	#arrow-right { right: 40px; }

.slider-lead {
	width:      300px;
	position:   absolute;
	bottom:     35%;
	right:      10%;
	color:      #ededed;
	font-size:  16px;
}
	.slider-lead h2 { 
		text-align:    center;
		color:         #ededed;
		margin-bottom: 10px;
	}
	.slider-lead p { margin-bottom: 15px; }
/*############################################### BREADCRUMB ####*/

.breadcrumb {
	background:    none;
	border-bottom: 1px solid #ccc;
}
	.breadcrumb li { font-size: 16px; }
		.breadcrumb > li + li::before { content: "> "; }

/*############################################### ACCORDION ####*/
.panel, .panel-default, .panel-heading {
	background: #e2e2e2;
	box-shadow: none;
	border: none;
}
	.panel-default > .panel-heading {
	    background-color: #e2e2e2;
	    border: none;
	}
		.panel-default > .panel-heading + .panel-collapse > .panel-body { border: none; }

.panel-title .row {
	margin-top: 15px;
	font-size: 0.8em;
}

.accordion-heading {
	text-transform: uppercase;
	margin:         10px 0;
}
	.accordion-heading div h4 { text-transform: uppercase; }

.accordion-toggle { 
	font-size: 20px;
	color:     #575756 !important;
}

.panel .view a.info {
    bottom: 50%;
    right:  25%;
}

/*############################################### FOOTER ####*/

footer {
	min-height:       335px;
	height:           auto;
	background-color: #575756;
	color:            #ededed;
	position:         relative;
	font-size:        14px;
}
	footer h3 {
		font-size: 16px;
		margin:    20px 0;
	}
	footer a { color: #ededed; }
		footer a:hover {
			text-decoration: none;
			color:           #aca78e;
		}
	footer .row { padding-bottom: 25px; }
	.footer-legal { font-size: 12px; } 

/* ############################## SOCIAL ### */
.social { width: 180px; }
    .social p {
        padding:     0;
        color:       #1EE6FA;
        font-weight: bold;
        text-align:  center;
    }
    .social ul { width: 180px; }
    .social ul li {
        float:   left;
        display: block;
        margin:  7px 1px 0 0;
    }
        .social li a {
            display:               block;
            width:                 44px;
            height:                38px;
            background:            #525252 url(../img/social-icons.png) no-repeat;
            -webkit-border-radius: 3px;
            -moz-border-radius:    3px;
            border-radius:         3px;
            text-indent:           -99999px;
            outline:               none;
            -webkit-transition:    all 0.3s ease 0s;
            transition:            all 0.3s ease 0s;
        }
            .social li a.twitter { background-position: -1px -1px; }
            .social li a.facebook { background-position: -1px -41px; }
            .social li a.googleplus { background-position: -1px -81px; }
            .social li a.pinterest { background-position: -1px -121px; }
            .social li a.linkedin { background-position: -1px -161px; }
            .social li a.flickr { background-position: -1px -201px; }
            .social li a.youtube { background-position: -1px -241px; }
            .social li a.checkpoint { background-position: -1px -281px; }

            .social li a.twitter:hover { background-position: -51px -1px; }
            .social li a.facebook:hover { background-position: -51px -41px; }
            .social li a.googleplus:hover { background-position: -51px -81px; }
            .social li a.pinterest:hover { background-position: -51px -121px; }
            .social li a.linkedin:hover { background-position: -51px -161px; }
            .social li a.flickr:hover { background-position: -51px -201px; }
            .social li a.youtube:hover { background-position: -51px -241px; }
            .social li a.checkpoint:hover { background-position: -51px -281px; }

.scrolltop {
	width:                              65px;
	height:                             55px;
	position:                           relative;
	display:                            block;
	margin:                             0 auto;
	padding:                            25px 0;
	background:                         #4d4c4c url(../img/arrow-up.png) no-repeat center 8px;
	text-align:                         center;
	z-index: 9999;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius:  8px;
	-moz-border-radius-bottomright:     8px;
	-moz-border-radius-bottomleft:      8px;
	border-bottom-right-radius:         8px;
	border-bottom-left-radius:          8px;
	-webkit-box-shadow:                 0px 4px 6px -3px rgba(0,0,0,0.25);
	-moz-box-shadow:                    0px 4px 6px -3px rgba(0,0,0,0.25);
	box-shadow:                         0px 4px 6px -3px rgba(0,0,0,0.25);
}

/*############################################### SEARCH FILTER ####*/
.filter-wrap{
  position:   absolute;
  top:        25px;
  right:      -285px;
  width:      340px;
  transition: all .5s ease;
  z-index:    999999;
}

.filter{
	width:                             295px;
	background:                        #ededed;
	float:                             right;
	color:                             #575756;
	padding:                           15px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft:     8px;
	border-bottom-left-radius:         8px;
}

#toggle{
	float:                             left;
	display:                           block;
	width:                             45px;
	height:                            45px;
	background:                        #ededed;
	color:                             #575756;
	font-size:                         30px;
	text-align:                        center;
	cursor:                            pointer;
	padding:                           5px;
	-webkit-box-shadow:                -1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:                   -1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:                        -1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	-webkit-border-top-left-radius:    8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft:        8px;
	-moz-border-radius-bottomleft:     8px;
	border-top-left-radius:            8px;
	border-bottom-left-radius:         8px;
}

#filter form { margin: 5px 0; }
	#filter .form-textsearch { width: 100%; }

#filter h4 { font-size: 16px; }
#filter p { font-size: 14px; }

#filter .panel-heading, #filter .panel-body { background: #ededed; }
#filter .panel-heading { border-top: 1px solid rgba(87, 87, 86, 0.1); }
	#filter-price { border-top: none !important; }

/*########################  SLIDER  ####*/
.ui-slider { 
	background:    #fff;
	margin:        15px 0;
	border-radius: 45px;
}
	#slider-lightcolor { 
		background: #ff3232; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #ff3232 0%, #7db9e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #ff3232 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #ff3232 0%,#7db9e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #ff3232 0%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to right,  #ff3232 0%,#7db9e8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#7db9e8',GradientType=1 ); /* IE6-8 */
	}
	.ui-slider .ui-slider-range { background: rgba(87, 87, 86, 0.9); }
	.ui-slider .ui-slider-handle { 
		background:    #a29d86;
		border-radius: 45px;
-webkit-box-shadow: -1px 1px 2px 0px rgba(87,87,86,0.35);
-moz-box-shadow: -1px 1px 2px 0px rgba(87,87,86,0.35);
box-shadow: -1px 1px 2px 0px rgba(87,87,86,0.35);
	}
	.panel-body input { 
		display: inline-block;
		width:   130px;
	}

/*########################  COLOR PICKER  ####*/
.simplecolorpicker.inline {
  display: inline-block;
  padding: 6px 0;
  line-height: 25px;
}
.simplecolorpicker span {
	margin:                0 5px 5px 0;
	-webkit-border-radius: 45px;
	-moz-border-radius:    45px;
	border-radius:         45px;
	width:                 30px;
	height:                30px;
	padding-top:           2px;
}
.simplecolorpicker.icon,
.simplecolorpicker span.color {
  display: inline-block;
  cursor:  pointer;
  border:  1px solid transparent;
}
	.simplecolorpicker.icon:after,
		.simplecolorpicker span.color:after { content: '\00a0\00a0\00a0\00a0'; }

		.simplecolorpicker span.color[data-disabled]:hover {
		  cursor: not-allowed;
		  border: 1px solid transparent;
		}
		.simplecolorpicker span.color:hover,
		.simplecolorpicker span.color[data-selected],
		.simplecolorpicker span.color[data-selected]:hover { border: 1px solid #575756; }
		.simplecolorpicker span.color[data-selected]:after { color: #fff; }
		.simplecolorpicker.fontawesome span.color[data-selected]:after {
		  font-family:            'FontAwesome';
		  -webkit-font-smoothing: antialiased;
		  content:                '\f00c'; /* Ok/check mark */
		  margin-right:           5px;
		  margin-left:            5px;
		  line-height:            25px;
		}

/*############################################### MEDIA QUERIES ####*/
@media only screen and (max-width : 1045px) {
	.view p {
	   padding:   80px 60px 20px;
	   font-size: 14px;
	}
	.view a.info { bottom: 30px; }
}

@media only screen and (max-width : 895px) {
	.view p { display: none; }
		.view a.info { bottom: 35%; }
}

@media only screen and (max-width : 768px) {
	/* HEADER */
	.logo a {
		width:  100px;
		height: 17px;
		right:  10px;
	}
	/* SLIDER */	
	.slider-lead {
		bottom:     5%;
		right:      20%;
		font-size:  14px;
	}
		.slider-lead h2 { font-size: 20px; }

	.section-text {
		padding:     50px 8px;
		min-height:  150px;
		font-size:   14px;
		line-height: 18px;
	}
		.section-text p { margin-bottom: 15px; }

	/* FOOTER */
	footer { text-align: center; }
		footer h3 { margin: 5px 0; }

	.social { margin: 0 auto; }

	.footer-legal {
		text-align: center !important;
		float:      none;
	}
}

@media only screen and (max-width : 420px) {
	h3 { font-size: 1em; }
}

@media only screen and (max-width : 350px) {
	h3 { font-size: 0.9em; }
}




